.bg-color {
  background: linear-gradient(180deg, #6291ec 59.55%, rgba(255, 233, 202, 0) 100%);
}
.login-button {
  border: none;
  border-radius: 12px;
  height: 45px;
  background-color: #1b3260;
  color: white;
}

.text-color {
  text-decoration: none;
  color: #6e76e2;
}

.text-color:hover {
  text-decoration: underline;
}
